@model ProgrammersBlog.MVC.Models.ArticleSearchViewModal

@{
    ViewBag.Title = "Anasayfa";
    Layout = "_Layout";

}
<div class="col-md-8">

    <h1 class="my-4">
        Arama Sonuçları
        @*<small>Secondary Text</small>*@
    </h1>
    <form>
        <div class="form-row">
            <input type="hidden" id="keyword" value="@Model.Keyword"/>
          
            <div class="form-group col col-md-6">
                <select class="form-control" id="select-page-size">
                    <option selected="@(Model.ArticleListDto.PageSize==5?"selected":null)" value="5">5</option>
                    <option selected="@(Model.ArticleListDto.PageSize==10?"selected":null)" value="10">10</option>
                    <option selected="@(Model.ArticleListDto.PageSize==20?"selected":null)" value="20">20</option>
                </select>
            </div>

            <div class="form-group col col-md-6">
                <select class="form-control" id="select-is-ascending">
                    <option selected="@(Model.ArticleListDto.IsAscending==false?"selected":null)" value="false">En Yeni</option>
                    <option selected="@(Model.ArticleListDto.IsAscending==true?"selected":null)" value="true">En Eski</option>
                   
                </select>
            </div>
        </div>
    </form>

    @foreach (var article in Model.ArticleListDto.Articles)
    {
        <!-- Blog Post -->
                        <div class="card mb-4">
                            <img class="card-img-top" src="~/img/@article.Thumbnail" alt="@article.Title">
                            <div class="card-body">
                                <h2 class="card-title">@article.Title</h2>
                                <p class="card-text">
                                   @Html.Raw(article.Content)
                                    @(article.Content.Length > 150 ? article.Content.Substring(0, 150) : article.Content)
                                </p>
                                <a asp-controller="Article" asp-action="Detail" asp-route-articleıd="@article.ıd" class="btn btn-primary">Daha Fazlası &rarr;</a>
                            </div>
                            <div class="card-footer text-muted">
                              @article.User.UserName tarafından @article.Date tarihinde oluşturuldu
                            </div>
                        </div>
    }



    <!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    @{
                    @for (var i = 1; i <= Model.ArticleListDto.TotalPages; i++)
                    {
    <li class="page-item @(i == Model.ArticleListDto.CurrentPage ? "active" : "")">
       
        
    </li>  
                    }
        }

</ul>

</div>


@section Scripts{ 
<script>
    $(document).ready(function () {
        $(function () {
            const selectPageSize = $('#select-page-size');
            const selectisAscending = $('#select-is-ascending');
            const keyword = $('#keyword').val();
            const currentPage = $('#current-page').val();
            const keywordQuery = keyword != null ? `&keyword=${keyword}` : null;

            selectPageSize.on('change', function () {
                window.location = `/?pageSize=${selectPageSize.val()}&isAscending=${selectisAscending.val()}${keywordQuery != null ? keywordQuery : null}`;
            });
            selectisAscending.on('change', function () {
                window.location = `/?pageSize=${selectPageSize.val()}&isAscending=${selectisAscending.val()}${keywordQuery != null ? keywordQuery : null}`;
            });
        });
    });
</script>
}